<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            text-align: center;
        }
    </style>
    {{>head}}
</head>
<header>
    {{>nav}}
</header>
<body>
  <h1>ERROR CODE 404</h1>
  <div>
      <p>
          <h1 style="text-align: center;">
              +__+
          </h1>
      </p>
  </div>
</body>
</html>