<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            text-align: center;
        }
    </style>
    {{>head}}
</head>
<header>
    {{>nav}}
</header>
<body>
    <form>
    <input type="text" id="cityName" placeholder="Enter the city name" autocomplete="off">
    <input type="submit" id="subBtn">
    <div>
        <p><span id="temp"></span></p>
        <p id="temp_status"></p>
    </div>
    </form>
</body>
</html>
{{>footer}}